.bg {
  background: linear-gradient(
      to bottom,
      rgba(172, 172, 172, 0.466),
      rgba(0, 0, 0, 0.616)
    ),
    url("../../Asset/sign_Up_bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  max-height: auto;
  background-size: cover;
  /* padding: 20px; */
  /* height: 150vh; */
  overflow: hidden;
  background-position: bottom;
}

.upload-file {
  border: 2px dashed var(--grayText) !important;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* input,
select {
  border: none !important;
  box-shadow: -5px 5px 10px #aaaaaa, 5px -5px 10px #dadada !important;
}

label {
  font-size: 14px;
} */

/* 
b{
  font-size: 13px !important;
} */

@media (max-width: 600px) {
  .bg {
    height: auto;
  }
}

.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
  color: var(--PrimaryColor) !important;
}

.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed {
  color: var(--textColor) !important;
}

/* Next Circle Button Start */
/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.content .steps {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.steps .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  color: #999;
  font-size: 22px;
  font-weight: 500;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #e0e0e0;
  transition: all 200ms ease;
  transition-delay: 0s;
  z-index: 5;
}
.steps .circle.active {
  transition-delay: 100ms;
  border-color: var(--textColor);
  color: var(--textColor);
}
.steps .progress-bar {
  position: absolute;
  height: 2px;
  width: 100%;
  background: #e0e0e0;
  z-index: 0;
}
.progress-bar .indicator {
  position: absolute;
  height: 100%;
  width: 0%;
  background: var(--textColor);
  transition: all 300ms ease;
}
.content .buttons {
  display: flex;
  gap: 20px;
}

.btn-prev {
  padding: 5px 20px;
  border: 2px solid var(--PrimaryColor) !important;
  border-radius: 5px;
  color: var(--SecondaryColor);
  z-index: 1;
  position: relative;
  font-weight: 600;
  font-size: 17px;
  transition: all 250ms;
  overflow: hidden;
  border: 1px solid var(--grayText);
}

.btn-prev::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  /* border-radius: 5px; */
  background-color: #1ecb15;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.btn-prev:hover {
  color: var(--whiteColor);
}

.btn-prev:hover::before {
  width: 100%;
}

/* ===== Google Font Import - Poppins ===== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.inputGroup {
  font-family: "Segoe UI", sans-serif;
  /* margin: 1em 0 1em 0; */
  position: relative;
}

.inputGroup input,
select {
  padding: 0.8em;
  outline: none;
  border: 2px solid rgb(200, 200, 200) !important;
  background-color: transparent;
  border-radius: 5px;
  transition: 0.3s ease;
  box-shadow: 1px 1px 5px #d3d3d3 !important;
}

.inputGroup label {
  position: absolute;
  text-wrap: nowrap;
  left: 0;
  top: 16px;
  font-size: 14px;
  padding: 0 0.8em;
  /* margin-left: 0.5em; */
  pointer-events: none;
  transition: all 0.3s ease;
  color: rgb(100, 100, 100);
}

.inputGroup :is(input:focus, input:valid, select:focus, select:valid) ~ label {
  transform: translateY(-100%) scale(1);
  /* margin: 0 0.8em; */
  /* padding: 0 0.5em; */
  background-color: #ffffff;
  color: var(--textColor);
  box-shadow: none;
  /* font-weight: 700; */
}

.inputGroup :is(input:focus, input:valid select:focus, select:valid) {
  border: 2px solid var(--textColor) !important;
  box-shadow: none !important;
}
